<p></p>
<h1>My Data</h1>
<div class="container">

    <div class="row">
        <blockquote class="text-center text-lg">
          
            <p>{{user.followers}}</p>
            <br><br>
            <p>{{user.following}}</p>
            <p>{{user. public_repos}}</p>
            <p>{{user.location}}</p>
            <p>{{user.html_url}}</p>
            <p>{{user.login}}</p>
            <img src="{{user.avatar_url}}">
            <!-- <footer><cite>{{user.following}} <br> {{user.public_repos}} <br> {{user.location}} <br> {{user. html_url}}  <br> {{user.login}}</cite_</footer> -->
        </blockquote>
    </div>
  </div>