<p></p>
<h1>My Data</h1>
<div class="container">
    
    <div class="form-group">

        <label for="name">Search</label>
        <input type="search" placeholder="userName" [(ngModel)]="userName" name="name">
        <button class="btn btn-primary" type="submit" (click)='submit()'>Search</button>

    </div> 
          
    <div class="row">
        <blockquote class="text-center text-lg">
          
            <p>{{user.followers}}</p>
            <br><br>
            <p>{{user.following}}</p>
            <p>{{user. public_repos}}</p>
            <p>{{user.location}}</p>
            <p>{{user.html_url}}</p>
            <p>{{user.login}}</p>
            <img src="{{user.avatar_url}}">
            <!-- <footer><cite>{{user.following}} <br> {{user.public_repos}} <br> {{user.location}} <br> {{user. html_url}}  <br> {{user.login}}</cite_</footer> -->
        </blockquote>
    </div>
  </div>